<html>
<body>
<h1>Ficha de Cliente</h1>
<a href="{% url clientes %}">Lista clientes</a>

<table border="1">
<tr> 
    <th>id</th> <td><a href="{{ cliente.get_absolute_url }}">{{ cliente.id }}</a></td>
</tr>
<tr>
    <th>Nome</th>
    <td>{{cliente.nome }}</td>
</tr>
<tr>
    <th>Endereço</th>
    <td>{{ cliente.endereco }}</td>
</tr>

<form action="{% url cliente-obs %}" method="POST">
{% csrf_token %}
<input tyep="hidden" name="cliente_id" value="{{cli.id}}>

{{ formulario_obs.as_p }}
<input type="submit" name="atualizar" value="Atualizar observação>


</table>
</body>
</html>
